@charset "UTF-8";

.sub-wrap {
    &.intro {
        max-width:100%;padding:0;
        section {
            box-sizing:border-box;
        }
    }
}

.credo-cont, .vod-cont {
    margin-top:30px;
}

.company-cont {
    margin:0 auto;padding:59px 0;width:100%;max-width:984px;
    .comp-title {
        font-size:rem(42px);color:#323f48;text-align:center;font-family:'NotoSansKR-Medium';letter-spacing:-2.2px;line-height:1;
        span {
            color:#0018a8;
        }
    }
    .comp-sub {
        position:relative;display:table;margin-top:30px;width:100%;height:135px;text-align:center;
        &:before {
            position:absolute;top:111px;left:0;right:0;margin:0 auto;width:15px;height:54px;background:url(../../assets/images/intro/bg-comp-bline.png) no-repeat;content:"";
        }
        div {
            position:relative;display:table-cell;vertical-align:middle;
            &:before {
                position:absolute;top:0;left:0;width:111px;height:135px;background:url(../../assets/images/intro/bg-comp-line.png) no-repeat;content:"";
            }
            &:after {
                position:absolute;top:0;right:0;width:111px;height:135px;background:url(../../assets/images/intro/bg-comp-line.png) no-repeat;transform:rotate(180deg);content:"";
            }
            p {
                line-height:1.1;font-size:rem(22px);font-family:'NotoSansKR-Light';letter-spacing:-1.1px;
                span 
                {color:#0097da;font-family:'NotoSansKR-DemiLight';
                }
            }
        }
    }
    .comp-txt {
        margin-top:53px;
        p {
            font-size:rem(18px);letter-spacing:-0.5px;line-height:1.5;
            + p {
                margin-top:8px;
            }
            .txt-blue {
                color:#0018a8;
            }
        }
    }
}

.sub-title {
    position:relative;padding-bottom:49px;font-size:rem(34px);color:#333333;font-family:'NotoSansKR-Bold';text-align:center;letter-spacing:-1.7px;line-height:1;
    &:after {
        position:absolute;top:65px;left:4px;right:0;margin:0 auto;width:19px;height:18px;background:url(../../assets/images/intro/bg-title-line.png) no-repeat;content:"";
    }
}

.custom-cont {
    position:relative;padding:55px 0;background:#f6f6f6;
    .value-list {
        margin-top:45px;margin-left:-90px;text-align:center;
        li {
            display:inline-block;margin-left:90px;
            &:first-child div {
                background:#0018a8;
            }
            &:nth-child(2) div {
                background:#0088ce;
            }
            &:nth-child(3) div {
                background:#00ad83;
            }
            div {
                position:relative;width:250px;height:250px;border-radius:100%;
                &:before {
                    position:absolute;left:-15px;top:-15px;right:-15px;bottom:-15px;border:1px dashed #b5b5b5;border-radius:100%;content:"";
                }
                .num {
                    position:absolute;top:53px;lefT:0;right:0;font-size:rem(32px);color:rgba(255, 255, 255, 0.7);
                }
                .txt {
                    position:absolute;top:118px;left:0;right:0;font-size:rem(24px);color:#fff;text-align:center;line-height:1.3;
                }
            }
        }
    }
}

.acco-wrap {
    margin:64px auto 0;width:100%;max-width:1200px;
    .acco-box {
        border-top:1px solid #cccccc;background:#fff;
        + .acco-box {
            margin-top:10px;
        }
        .top {
            position:relative;padding:17px 55px 28px 50px;
        }
        .title {
            font-size:rem(24px);color:#0097da;font-family:'NotoSansKR-Medium';letter-spacing:-1.3px;
            span {
                color:#ff6600;
            }
        }
        .txt {
            font-size:rem(18px);color:#666666;
            span {
                color:#000000;
            }
        }
        .btn-view {
            position:absolute;top:0;left:0;width:100%;height:100%;border:0;background:none;text-indent:-9999%;overflow:hidden;
            &:after {
                position:absolute;top:35px;right:57px;padding:8px;border:1px solid #999999;border-width:0 2px 2px 0;transform: rotate(45deg);transition: all 0.3s;content:"";
            }
        }
        &.on {
            .btn-view {
                &:after {top:45px;transform: rotate(-135deg);transition: all 0.3s;}
            }
        }
        .view {
            padding:0 50px;max-height:0; overflow:hidden;transition:max-height 0.2s ease-out;
            .view-box {
                padding-bottom:31px;
                .txt-noti {
                    margin-top:10px;text-align:right;
                }
            }
        }
    }
}

.table-value {
    width:100%;border-bottom:1px solid #aaaaaa;
    caption {
        position:absolute;left:-10000px;top:auto;width:1px;height:1px;overflow:hidden;
    }
    thead {
        th {
            padding:17px 3px;height:67px;background:#a0826e;color:#ffffff;line-height:1.1;font-family:'NotoSansKR-Regular';box-sizing:border-box;font-weight:normal;font-size:rem(16px);word-break:keep-all;
        }
    }
    tbody {
        tr {
            + tr td {
                border-top:1px solid #dddddd;
            }
            &:first-child td {
                color:#000000;
            }
            &:nth-child(2) td {
                height:67px;color:#555555;
            }
            &:nth-child(3) td {
                height:54px;color:#777777;font-size:rem(15px);font-family:'NotoSansKR-DemiLight';
            }
        }
        td {
            padding:5px 3px;height:72px;text-align:center;font-size:rem(17px);font-family:'NotoSansKR-Regular';word-break:keep-all;line-height:1.1;
            + td {border-left:1px solid #dddddd;}
        }
    }
}

.video-cont {
    margin:0 auto;padding:59px 0;width:100%;max-width:1200px;@include clearfix();
    .video-list {
        margin:30px auto 0;width:100%;
        li {
            float:left;padding:0;width:50%;
            &:nth-child(odd) {
                padding-right:2.5%;
            }
            &:nth-child(even) {
                padding-left:2.5%;
            }
            .img {
                display:block;border:0;overflow:hidden;
                &:after {
                    background:url(../../assets/images/intro/ico-play.png) no-repeat center center;
                }
            }
            .txt {
                margin-top:21px;font-size:rem(18px);text-align:center;letter-spacing:-0.4px;color:#333333;line-height:1;
            }
        }
    }
}

.location-cont {
    position:relative;padding:55px 0;background:#f6f6f6;
    .map {
        margin:30px auto 0;max-width:1200px;height:420px;border:1px solid #dddddd;
    }
    .info {
        margin:32px auto 0;max-width:1200px;text-align:center;
        li {
            display:inline-block;position:relative;
            dt, dd {
                display:inline-block;font-size:rem(18px);
            }
            dt {
                color:#0097da;
            }
            dd {
                letter-spacing:-0.5px;
            }
            +li {
                margin-left:80px;
                &:before {
                    position:absolute;top:2px;left:-40px;height:15px;border-left:1px solid #dddddd;content:"";
                }
            }
        }
    }
}

@media screen and (max-width:1200px){
    .company-cont {
        padding:60px 20px;max-width:100%;
        .comp-title {
            font-size:rem(32px);
        }
        .comp-sub p {
            font-size:rem(20px);word-break:keep-all;
        }
    }
    .custom-cont {
        .value-list {
            margin-left:-5%;
            li {
                margin-left:5%;
                div {
                    width:200px;height:200px;
                    .num {
                        top:40px;font-size:rem(28px);
                    }
                    .txt {
                        top:95px;font-size:rem(20px);
                    }
                }
            }
        }
    }
    .video-list {
        padding:0 20px;
    }
    .location-cont {
        .info {
            li {
                padding-left:50px;width:400px;text-align:left;
                +li {
                    margin-left:0;
                    &:before {
                        content:none;
                    }
                    +li {
                        margin-top:10px;
                    }
                }
                &:nth-child(3) {
                    clear:both;
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .company-cont {
        .comp-sub {
            div {
                padding:0 20px;
                p {
                    font-size:rem(19px);
                }
            }
        }
    }
    .m-scroll {
        overflow-y:auto;
        &::-webkit-scrollbar {
            height:3px;
        }
        &::-webkit-scrollbar-track {
            background:#f1f1f1; 
        }
        &::-webkit-scrollbar-thumb {
            background:#c9c9c9; 
        }
    }
    .acco-wrap {
        .acco-box {
            .view {
                &.wide {
                    padding: 0 0 0 50px;
                    .m-scroll {
                        div {
                            padding-right:20px;width:980px;
                        }
                    }
                    .table-value {
                        min-width:960px;
                    }
                }
                .view-box {
                    .txt-noti {
                        margin-right:20px;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 840px) {
    .location-cont {
        .info {
            margin-top:10px;padding-left:36px;@include clearfix();
            li {
                display:initial;float:left;margin-top:10px;padding:0;width:100%;
            }
        }
    }
}
@media screen and (max-width: 767px) {
    .company-cont {
        padding:30px 20px;background:#fff;
        .comp-title {
            font-size:rem(28px);line-height:1.2;
            span {
                display:block;
            }
        }
        .comp-sub {
            div {
                &:before {
                    width:36px;height:135px;background:url(../../assets/images/intro/bg-comp-line-m.png) no-repeat;background-size:36px 135px;
                }
                &:after {
                    width:36px;height:135px;background:url(../../assets/images/intro/bg-comp-line-m.png) no-repeat;background-size:36px 135px;transform:rotate(180deg);
                }
                p {
                    display:inline;font-size:rem(20px);
                }
            }
        }
    }
    .sub-title {
        padding-bottom:28px;font-size:rem(23px);
        &:after {
            top:37px;left:-5px;width:11px;height:14px;background:url(../../assets/images/intro/bg-title-line.png) no-repeat;background-size:11px 14px;
        }
    }
    .custom-cont {
        padding:30px 0;border-top:1px solid #dddddd;
        .value-list {
            position:relative;margin:26px auto 0;padding-top:120px;width:320px;text-align:center;
            li {
                display:inline-block;margin-left:32px;
                &:first-child {
                    position:absolute;top:0;left:0;right:0;margin:0;
                    div {
                        margin:0 auto;
                        .txt {
                            top:55px;
                        }
                    }
                }
                &:nth-child(2) {
                    margin-left:0;padding-right:16px;
                }
                &:nth-child(3) {
                    margin-left:0;padding-left:16px;
                }
                div {
                    width:125px;height:125px;
                    &:before {
                        left:-7px;top:-7px;right:-7px;bottom:-7px;
                    }
                    .num {
                        top:24px;font-size:rem(18px);
                    }
                    .txt {
                        top:62px;margin:0 auto;width:111px;font-size:rem(14px);word-break:keep-all;line-height:1.1;
                    }
                }
            }
        }
    }
    .acco-wrap {
        margin-top:25px;
        .acco-box {
            .top {
                padding:20px 62px 25px 20px;
            }
            .title {
                font-size:rem(21px);
            }
            .txt {
                margin-top:3px;font-size:rem(17px);word-break:keep-all;line-height:1.2;
            }
            .btn-view:after {
                right:20px;top:50%;margin-top:-8px;padding:5px;
            }
            &.on .btn-view:after {margin-top:-2px;}
            .view {
                padding:0 20px;
                &.wide {
                    padding:0 0 0 20px;
                }
                .view-box {
                    padding-bottom:20px;
                    .txt-noti {
                        text-align:left;
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 640px) {
    .sub-wrap {
        &.intro {
            padding:0 0 90px 0;
        }
    }
    .company-cont {
        padding:30px 20px;background:#fff;
        .comp-title {
            font-size:rem(24px);line-height:1.2;
            span {
                display:block;
            }
        }
        .comp-sub {
            margin-top:19px;
            &:before {
                background:none;
            }
            div {
                padding:0 30px;
                p {
                    font-size:rem(18px);
                }
            }
        }
        .comp-txt {
            margin-top:20px;
            p {
                font-size:rem(17px);line-height:1.3;
                .m-block {
                    display:block;
                }
                + p {
                    margin-top:10px;
                }
            }
        }
    }
    .acco-wrap {
        .acco-box {
            .view {
                &.small {
                    padding: 0 0 0 20px !important;
                    .m-scroll {
                        div {
                            padding-right:20px;width:640px;
                        }
                    }
                    .table-value {
                        min-width:620px;
                    }
                }
            }
        }
    }
    .video-cont {
        padding:30px 20px;border-bottom:1px solid #dddddd;background:#ffffff;
        .video-list {
            margin-top:17px;padding:0;
            li {
                &:nth-child(odd) {
                    padding-right:1.9%;
                }
                &:nth-child(even) {
                    padding-left:1.9%;
                }
                .img {
                    &:after {
                        background-size:40px auto;
                    }
                }
                .txt {
                    margin-top:5px;font-size:rem(17px);word-break:keep-all;text-align:left;
                }
            }
        }
    }
    .location-cont {
        margin-top:10px;padding:30px 0;border-bottom:1px solid #dddddd;background:#ffffff;
        .map {
            margin-top:17px;height:185px;
        }
    }
}
@media screen and (max-width: 359px) {
    .company-cont {
        .comp-title {
            word-break:keep-all;
            span {
                display:inline;
            }
        }
    }
    .custom-cont {
        .value-list {
            width:300px;
        }
    }
    .acco-wrap {
        .acco-box {
            .title {
                line-height:1.2;
            }
            .txt {
                margin-top:6px;
            }
        }
    }
}