$base-font:16px;

@function rem($rem-size){
   @return $rem-size/$base-font#{rem};
}

// 템플릿 공통 컬러
$pointColor:#0018a8;
$pointColor2: #0097da;
$pointColor3: #ff6600;
$pointColor4: #23bfcd;
$pointColor5: #cc0000;

$fontColor: #555555;

// font-family
$ff1: 'NotoSansKR-Light';
$ff2: 'NotoSansKR-DemiLight';
$ff3: 'NotoSansKR-Regular';
$ff4: 'NotoSansKR-Medium';
$ff5: 'NotoSansKR-Bold';

@mixin line1 {
  border:1px solid $lineColor;
}

@mixin clearfix {
  content:'';
  clear:both;
  display:block;
  &:after {
    content:'';
    clear:both;
    display:block;
  }
}

@mixin hide {
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-indent: -9999px;
}

@mixin ellipsis(
  $width: 100%,
  $display: inline-block
) {
  display: $display;
  max-width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}
